<style type="text/css">
    .custom_buttons{
        border-radius: 5px;
        border: 2px solid #676a6c;
        background-color: white;
        font-size: 15px;
    }
    #custom_display_div{
        width: 92%;
        border-radius: 5px;
        border: 2px solid #676a6c;
        padding-left: 20px;
        padding-bottom: 8px;
        margin: 20px 0 40px 16px;
    }
    #custom_display{
        width: 80%;
        border-radius: 5px;
        border: 2px solid #676a6c;
        margin: 0 auto;
        padding: 0 25px;
    }
    .custVarList{
        border-top: 2px solid #676a6c;
    }
</style>



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><strong>Custom Variables </strong> 
            <i class="fa fa-long-arrow-right "></i> 
            Add Variable</h2>
    </div>
</div>

<div ng-controller = "myaddCtrl">
<div class="row col-lg-12">
    <div class="row">
        <br/>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label>Name of new variable</label>
            <input type="text" ng-model="varName" placeholder="heightTank" class="form-control">
        </div>
    </div>
    <div class="col-sm-5">
        <div class="form-group">
            <label>Description for variable</label>
            <input type="text" ng-model="varDesc" placeholder="Height of tank" class="form-control">
        </div>
    </div>
    <div class="col-sm-4" style="height: 71.71px;">
        <button class="avtive btn-primary" style="margin-top: 26px; margin-left: 20px;">Add Variable</button>
    </div>
    <div class="row">
        <br/>
    </div>


<div class="row" id="custom_display_div"><h2> Expression : <input ng-keydown="addKeyboardIndex()" id="custom_display" type="text" ng-model="expression"></h2></div>

</div>

<!-- This is a list of custom varibles already been made -->
<div class="col-lg-6">

    <div class="ibox-title">
        <h5>Other Custom Variables</h5> 
    </div>

    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-6 m-b-xs"><select class="input-sm form-control input-s-sm inline">
                <option value="0">All Devices</option>
                <option value="1">Device 1</option>
                <option value="2">Device 2</option>
                <option value="3">Device 3</option>
                <option value="4">Device 4</option>
            </select>
            </div>
            
            <div class="col-lg-6">
                <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <div>
                        <th>Variable</th>
                        <th>Device</th>
                        <th>Date</th> 
                        <th>View</th> 
                    </div>  
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="v in customVarList" ng-click="addToExpression(v.name)">
                    <div>
                        <td><ng-button>{{v.name}}</ng-button></td>
                        <td>{{v.device}}</td>
                        <td>{{v.date}}</td>
                    </div>
                    <td>
                        <div ng-controller="modalDemoCtrl">
                            <button class="btn btn-info btn-circle" ng-click="open3('sm', v)"><i class="fa fa-info"></i></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>  
<!-- custom variables list ends here -->

<div class="col-lg-6">
    <div class="section group"> <!-- Display the 1st number row -->
        <md-button class="custom_buttons animation_select" data-animation="bounce" ng-click="addToExpression('1')"> 1 </md-button>
        <md-button class="custom_buttons" ng-click="addToExpression('2')"> 2 </md-button>
        <md-button class="custom_buttons" ng-click="addToExpression('3')"> 3 </md-button>
        <md-button class="custom_buttons" ng-click="addToExpression('+')"> + </md-button>
    </div>
    <div class="section group"> <!-- Display the 2nd number row -->
        <md-button class="custom_buttons" ng-click="addToExpression('4')"> 4 </md-button>
        <md-button class="custom_buttons" ng-click="addToExpression('5')"> 5 </md-button>
        <md-button class="custom_buttons" ng-click="addToExpression('6')"> 6 </md-button>
        <md-button class="custom_buttons" ng-click="addToExpression('-')"> - </md-button>
    </div>
    <div class="section group"> <!-- Display the 3rd number row -->
        <md-button class="custom_buttons" ng-click="addToExpression('7')"> 7 </md-button>
        <md-button class="custom_buttons" ng-click="addToExpression('8')"> 8 </md-button>
        <md-button class="custom_buttons" ng-click="addToExpression('9')"> 9 </md-button>
        <md-button class="custom_buttons" ng-click="addToExpression('*')"> * </md-button>
    </div>
    <div class="section group"> <!-- Display the 4th number row -->
        <md-button class="custom_buttons" ng-click="backSpace()"> Del </md-button>
        <md-button class="custom_buttons" ng-click="addToExpression('0')"> 0 </md-button>
        <md-button class="custom_buttons" ng-click="clearExpression()"> C </md-button>
        <md-button class="custom_buttons" ng-click="addToExpression('/')"> / </md-button>
    </div>  
    <div class="section group"> <!-- Display the 5th number row -->
        <md-button class="custom_buttons" ng-click="addToExpression('(')"> ( </md-button>
        <md-button class="custom_buttons" ng-click="addToExpression(')')"> ) </md-button>
        <md-button class="custom_buttons" ng-click="addToExpression('[')"> [ </md-button>
        <md-button class="custom_buttons" ng-click="addToExpression(']')"> ] </md-button>
    </div>  
</div>

<div class="col-lg-6">
<md-list>
  <md-list-item class="row md-2-line custVarList" style="height: 50px" ng-repeat="v in customVarList">
  <md-checkbox></md-checkbox>
    <div class="md-list-item-text">
        <div class="col-lg-4"><h3>{{v.name}}</h3></div>
        <div class="col-lg-4"><p>{{v.device}}</p></div>
        <div class="col-lg-4"><p>{{v.date}}</p></div>  
    </div>
  </md-list-item>
</md-list>
</div>

<div class="col-lg-6">
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <div>
                <th>Variable</th>
                <th>Device</th>
                <th>Date</th> 
                <th>View</th> 
            </div>  
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="v in customVarList" ng-click="addToExpression(v.name)">
            <div>
                <td><ng-button>{{v.name}}</ng-button></td>
                <td>{{v.device}}</td>
                <td>{{v.date}}</td>
            </div>
            <td>
                <div ng-controller="modalDemoCtrl">
                    <button class="btn btn-info btn-circle" ng-click="open3('sm', v)"><i class="fa fa-eye"></i></button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>


