
<div class="col-lg-6">
    
    <div class="ibox-title">
        <h5>Other Custom Variables</h5> 
    </div>

    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-6 m-b-xs"><select class="input-sm form-control input-s-sm inline">
                <option value="0">Device 1</option>
                <option value="1">Device 2</option>
                <option value="2">Device 3</option>
                <option value="3">Device 4</option>
            </select>
            </div>
            
            <div class="col-lg-6">
                <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Select</th>
                    <th>Variable Name</th>
                    <th>Device </th>
                    <th>Date Created</th>        
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input icheck type="checkbox" ng-model="main.checkOne"></td>
                    <td>var 1</td>
                    <td>Device 1</td>
                    <td>Jul 14, 2013</td>
                    
                </tr>
                <tr>
                    <td><input icheck type="checkbox" ng-model="main.unCheck1"></td>
                    <td>var 2.1</td>
                    <td>Device 2</td>
                    <td>Jul 16, 2013</td>
                    
                </tr>
                <tr>
                    <td><input icheck type="checkbox" ng-model="main.unCheck2"></td>
                    <td>var 2.2</td>
                    <td>Device 2</td>
                    <td>Jul 18, 2013</td>
                    
                </tr>
                <tr>
                    <td><input icheck type="checkbox" ng-model="main.unCheck3"></td>
                    <td>var 3</td>
                    <td>Device 3</td>
                    <td>Jul 22, 2013</td>
                    
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

