<!-- Wrapper-->
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'views/common/navigation.html'"></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        <!-- Page wrapper -->
        <div ng-include="'views/common/topnavbar.html'"></div>

		<div class="row wrapper border-bottom white-bg page-heading">
		    <div class="col-lg-10">
		        <h2>Custom Variables</h2>
		        <div class="col-lg-3">
		            <md-button ui-sref="custom_variables.add" class="btn btn-default">Add custom variable</md-button>
		        </div>
		        <div class="col-lg-3">
		            <md-button class="btn btn-default" ui-sref="custom_variables.view" >View Custom Variables</md-button>
		        </div>
		    </div>
		   
		</div>	

        <!-- Main view  -->
        <div ui-view>

        </div>

        <!-- Footer -->
        <div ng-include="'views/common/footer.html'"></div>

    </div>
    <!-- End page wrapper-->

    <!-- Right Sidebar -->
    <div ng-include="'views/common/right_sidebar.html'"></div>

</div>
<!-- End wrapper-->





	

	
	
