<div class="inmodal" >
    <div class="modal-header">
        <h4 class="modal-title">Custom Variable</h4>
    </div>
    <div class="modal-body">
        <p><strong>Variable Name : </strong>{{custVar.name}}</p>
        <p><strong>Description : </strong>{{custVar.description}}</p>
        <p><strong>Date created : </strong>{{custVar.date}}</p>
        <p><strong>Expression : </strong>{{custVar.expression}}</p>
        <p><strong>Unit : </strong>{{custVar.unit}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="cancel()">Close</button>
    </div>

</div>

