<fieldset>
   <div class="col-lg-12 col-md-12">
      <div class="row">
          <div class="col-lg-6 col-md-6">
            <h2>Basic Settings</h2>
          </div>
            
            <style>
            .shifting2{
                margin-left: 20px;
            }
            </style>

          <div class="col-lg-6 col-md-6">
              <a ui-sref="forms.wizard.step_two" class="btn btn-default">Previous</a>
              <a ui-sref="forms.wizard.step_four" class="btn btn-primary shifting2">Next</a>
          </div>
      </div>
      

      <div class="col-lg-12">
            <br/><br/><br/>
      </div>

    <div ng-cloak>
  <md-toolbar class="abcde">
    <h2 class="md-toolbar-tools">
      <span>Recommended Widgets</span>
    </h2>
  </md-toolbar>
  <md-content>
    	<div class="col-lg-4" >
            <div class="contact-box">
                <a ui-sref="profile">
                    <div class="col-sm-4">

                <!--checkboxes -->
                    <div ng-controller="checkBoxCtrl" class="md-padding" ng-cloak style="min-height:10px">
                        
                            
                                      <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                                        {{ item }}
                                      </md-checkbox>
                                  
                              
                    </div>
                    <!--checkboxes over -->




                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a2.jpg">

                            <div class="m-t-xs font-bold">Graphics designer</div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>Widget 1</strong></h3>

                        <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                        <address>
                            <strong>Twitter, Inc.</strong><br>
                            795 Folsom Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>


        <div class="col-lg-4" >
            <div class="contact-box">
                <a ui-sref="profile">
                    <div class="col-sm-4">

                <!--checkboxes -->
                    <div ng-controller="checkBoxCtrl" class="md-padding" ng-cloak style="min-height:10px">
                        
                            
                                      <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                                        {{ item }}
                                      </md-checkbox>
                                  
                              
                    </div>
                    <!--checkboxes over -->




                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a2.jpg">

                            <div class="m-t-xs font-bold">Graphics designer</div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>Widget 2</strong></h3>

                        <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                        <address>
                            <strong>Twitter, Inc.</strong><br>
                            795 Folsom Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>



        <div class="col-lg-4" >
            <div class="contact-box">
                <a ui-sref="profile">
                    <div class="col-sm-4">

                <!--checkboxes -->
                    <div ng-controller="checkBoxCtrl" class="md-padding" ng-cloak style="min-height:10px">
                        
                            
                                      <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                                        {{ item }}
                                      </md-checkbox>
                                  
                              
                    </div>
                    <!--checkboxes over -->




                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a2.jpg">

                            <div class="m-t-xs font-bold">Graphics designer</div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>Widget 3</strong></h3>

                        <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                        <address>
                            <strong>Twitter, Inc.</strong><br>
                            795 Folsom Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
  </md-content>
  <md-toolbar>
    <h2 class="md-toolbar-tools">
      <span>Additional Widgets</span>
    </h2>
  </md-toolbar>
  <md-content>
   		<div class="col-lg-4" >
            <div class="contact-box">
                <a ui-sref="profile">
                    <div class="col-sm-4">

                <!--checkboxes -->
                    <div ng-controller="checkBoxCtrl" class="md-padding" ng-cloak style="min-height:10px">
                        
                            
                                      <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                                        {{ item }}
                                      </md-checkbox>
                                  
                              
                    </div>
                    <!--checkboxes over -->




                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a2.jpg">

                            <div class="m-t-xs font-bold">Graphics designer</div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>Widget 4</strong></h3>

                        <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                        <address>
                            <strong>Twitter, Inc.</strong><br>
                            795 Folsom Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>




        <div class="col-lg-4" >
            <div class="contact-box">
                <a ui-sref="profile">
                    <div class="col-sm-4">

                <!--checkboxes -->
                    <div ng-controller="checkBoxCtrl" class="md-padding" ng-cloak style="min-height:10px">
                        
                            
                                      <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                                        {{ item }}
                                      </md-checkbox>
                                  
                              
                    </div>
                    <!--checkboxes over -->




                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a2.jpg">

                            <div class="m-t-xs font-bold">Graphics designer</div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>Widget 5</strong></h3>

                        <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                        <address>
                            <strong>Twitter, Inc.</strong><br>
                            795 Folsom Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>

      <div class="col-lg-4" >
            <div class="contact-box">
                <a ui-sref="profile">
                    <div class="col-sm-4">

                <!--checkboxes -->
                    <div ng-controller="checkBoxCtrl" class="md-padding" ng-cloak style="min-height:10px">
                        
                            
                                      <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                                        {{ item }}
                                      </md-checkbox>
                                  
                              
                    </div>
                    <!--checkboxes over -->




                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a2.jpg">

                            <div class="m-t-xs font-bold">Graphics designer</div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>Widget 6</strong></h3>

                        <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                        <address>
                            <strong>Twitter, Inc.</strong><br>
                            795 Folsom Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
  </md-content>
</div>
</div>
